spring:
  application:
    name: itdg-generator
  profiles:
    active: local
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

server:
  port: 8083

logging:
  level:
    com.itdg: DEBUG

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:itdg
    username: sa
    password:
    driver-class-name: org.h2.Driver